openapi: 3.2.0
info:
  title: OEB Open Data Electricity Distributor Complaints Received by the OEB API
  version: '2026-07-27'
  summary: Anonymous, key-free HTTP downloads of the Ontario Energy Board's published open datasets.
  description: 'A machine-readable description of the Ontario Energy Board''s Open Data programme as an HTTP surface.


    PROVENANCE. The OEB publishes no OpenAPI, no API reference and no base path. Open Data is a set of stable, versioned files linked from 40 dataset landing pages under https://www.oeb.ca/ontarios-energy-sector/open-data. This document was GENERATED by API Evangelist on 2026-07-27 by crawling those pages and probing the files they link. Only files that returned HTTP 200 to an anonymous request in that run appear as operations, and each carries an x-evidence block with the probed URL, status, content type, byte size and Last-Modified. The OEB''s pages link a further ~165 historical and current RRR files (the 2015-2021, 2023 and 2024-2 series, plus the natural gas GD series) that this run could not verify because the host stopped answering under sustained probing; the full published inventory is recorded in data-model/ontario-energy-board-data-model.yml rather than asserted here as live operations.


    There is no query interface: no parameters, no pagination, no filtering, no content negotiation, no conditional request contract beyond the Last-Modified/ETag the web server sets. Every operation is an unconditional GET of a whole file. Authentication: none.


    Rate limiting: undocumented but real. Sustained parallel requests from one client caused www.oeb.ca to stop answering entirely (connection timeouts, no HTTP status) on 2026-07-27. Fetch serially and cache.'
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence - Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
servers:
- url: https://www.oeb.ca
  description: OEB website (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: Electricity Distributor Complaints Received by the OEB
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb'
  externalDocs:
    url: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
paths:
  /_html/performance/data/complaints_data_2022.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2022
      summary: complaints_data_2022.xml
      description: Anonymous download of "complaints_data_2022.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2022.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 5999
        last_modified: Wed, 30 Aug 2023 13:59:37 GMT
  /_html/performance/data/complaints_data_2021.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2021
      summary: complaints_data_2021.xml
      description: Anonymous download of "complaints_data_2021.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2021.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 6586
        last_modified: Tue, 23 Aug 2022 17:17:02 GMT
  /_html/performance/data/complaints_data_2020.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2020
      summary: complaints_data_2020.xml
      description: Anonymous download of "complaints_data_2020.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2020.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 5565
        last_modified: Wed, 27 Oct 2021 13:51:33 GMT
  /_html/performance/data/complaints_data_2019.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2019
      summary: complaints_data_2019.xml
      description: Anonymous download of "complaints_data_2019.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2019.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 6322
        last_modified: Wed, 14 Oct 2020 18:38:50 GMT
  /_html/performance/data/complaints_data_2018.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2018
      summary: complaints_data_2018.xml
      description: Anonymous download of "complaints_data_2018.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2018.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 7565
        last_modified: Tue, 17 Dec 2019 21:39:35 GMT
  /_html/performance/data/complaints_data_2017.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2017
      summary: complaints_data_2017.xml
      description: Anonymous download of "complaints_data_2017.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2017.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 8770
        last_modified: Tue, 17 Dec 2019 21:39:31 GMT
  /_html/performance/data/complaints_data_2016.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2016
      summary: complaints_data_2016.xml
      description: Anonymous download of "complaints_data_2016.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2016.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 9291
        last_modified: Tue, 17 Dec 2019 21:39:25 GMT
  /_html/performance/data/complaints_data_2015.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2015
      summary: complaints_data_2015.xml
      description: Anonymous download of "complaints_data_2015.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2015.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 9697
        last_modified: Tue, 17 Dec 2019 21:39:20 GMT
  /_html/performance/data/complaints_data_2014.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2014
      summary: complaints_data_2014.xml
      description: Anonymous download of "complaints_data_2014.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2014.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 10328
        last_modified: Tue, 17 Dec 2019 21:39:14 GMT
  /_html/performance/data/complaints_data_2013.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2013
      summary: complaints_data_2013.xml
      description: Anonymous download of "complaints_data_2013.xml" from the OEB Open Data dataset "Electricity Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2013.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 8485
        last_modified: Tue, 17 Dec 2019 21:39:09 GMT
externalDocs:
  description: OEB Open Data
  url: https://www.oeb.ca/ontarios-energy-sector/open-data
