openapi: 3.2.0
info:
  title: OEB Open Data Current Electricity Rates (General Service <…
  version: '2026-07-27'
  summary: Anonymous, key-free HTTP downloads of the Ontario Energy Board's published open datasets.
  description: A machine-readable description of the Ontario Energy Board's Open Data programme as an HTTP surface.
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence - Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
servers:
- url: https://www.oeb.ca
  description: OEB website (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: Current Electricity Rates (General Service < 50 kW Rate Class)
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/current-electricity-rates-general-service-50-kw-rate-class'
  externalDocs:
    url: https://www.oeb.ca/open-data/current-electricity-rates-general-service-50-kw-rate-class
paths:
  /_html/calculator/data/BillData_GS.xml:
    get:
      tags:
      - Current Electricity Rates (General Service < 50 kW Rate Class)
      operationId: getBillDataGS
      summary: BillData_GS.xml
      description: Anonymous download of "BillData_GS.xml" from the OEB Open Data dataset "Current Electricity Rates (General Service < 50 kW Rate Class)". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/calculator/data/BillData_GS.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/current-electricity-rates-general-service-50-kw-rate-class
        bytes: 72312
        last_modified: Tue, 30 Jun 2026 20:58:40 GMT
externalDocs:
  description: OEB Open Data
  url: https://www.oeb.ca/ontarios-energy-sector/open-data
