openapi: 3.2.0
info:
  title: OEB Open Data Electricity Distributor Performance – Scorecard API
  version: '2026-07-27'
  summary: Anonymous, key-free HTTP downloads of the Ontario Energy Board's published open datasets.
  description: 'A machine-readable description of the Ontario Energy Board''s Open Data programme as an HTTP surface.


    PROVENANCE. The OEB publishes no OpenAPI, no API reference and no base path. Open Data is a set of stable, versioned files linked from 40 dataset landing pages under https://www.oeb.ca/ontarios-energy-sector/open-data. This document was GENERATED by API Evangelist on 2026-07-27 by crawling those pages and probing the files they link. Only files that returned HTTP 200 to an anonymous request in that run appear as operations, and each carries an x-evidence block with the probed URL, status, content type, byte size and Last-Modified. The OEB''s pages link a further ~165 historical and current RRR files (the 2015-2021, 2023 and 2024-2 series, plus the natural gas GD series) that this run could not verify because the host stopped answering under sustained probing; the full published inventory is recorded in data-model/ontario-energy-board-data-model.yml rather than asserted here as live operations.


    There is no query interface: no parameters, no pagination, no filtering, no content negotiation, no conditional request contract beyond the Last-Modified/ETag the web server sets. Every operation is an unconditional GET of a whole file. Authentication: none.


    Rate limiting: undocumented but real. Sustained parallel requests from one client caused www.oeb.ca to stop answering entirely (connection timeouts, no HTTP status) on 2026-07-27. Fetch serially and cache.'
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence - Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
servers:
- url: https://www.oeb.ca
  description: OEB website (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: Electricity Distributor Performance – Scorecard
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard'
  externalDocs:
    url: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
paths:
  /_html/performance/data/scorecard_data_2024.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2024
      summary: scorecard_data_2024.xml
      description: Anonymous download of "scorecard_data_2024.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2024.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 44231
        last_modified: Thu, 25 Sep 2025 20:03:01 GMT
  /_html/performance/data/scorecard_data_2023.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2023
      summary: scorecard_data_2023.xml
      description: Anonymous download of "scorecard_data_2023.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2023.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 46437
        last_modified: Fri, 13 Sep 2024 02:18:31 GMT
  /_html/performance/data/scorecard_data_2022.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2022
      summary: scorecard_data_2022.xml
      description: Anonymous download of "scorecard_data_2022.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2022.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 46625
        last_modified: Wed, 01 Nov 2023 15:50:39 GMT
  /_html/performance/data/scorecard_data_2021.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2021
      summary: scorecard_data_2021.xml
      description: Anonymous download of "scorecard_data_2021.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2021.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 49069
        last_modified: Wed, 31 Aug 2022 18:52:50 GMT
  /_html/performance/data/scorecard_data_2020.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2020
      summary: scorecard_data_2020.xml
      description: Anonymous download of "scorecard_data_2020.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2020.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 50693
        last_modified: Wed, 27 Oct 2021 20:37:12 GMT
  /_html/performance/data/scorecard_data_2019.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2019
      summary: scorecard_data_2019.xml
      description: Anonymous download of "scorecard_data_2019.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2019.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 53243
        last_modified: Wed, 14 Oct 2020 18:53:38 GMT
  /_html/performance/data/scorecard_data_2018.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2018
      summary: scorecard_data_2018.xml
      description: Anonymous download of "scorecard_data_2018.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2018.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 56782
        last_modified: Mon, 30 Sep 2019 21:13:27 GMT
  /_html/performance/data/scorecard_data_2017.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2017
      summary: scorecard_data_2017.xml
      description: Anonymous download of "scorecard_data_2017.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2017.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 58355
        last_modified: Wed, 26 Sep 2018 18:02:52 GMT
  /_html/performance/data/scorecard_data_2016.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2016
      summary: scorecard_data_2016.xml
      description: Anonymous download of "scorecard_data_2016.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2016.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 60922
        last_modified: Mon, 02 Oct 2017 14:37:49 GMT
  /_html/performance/data/scorecard_data_2015.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2015
      summary: scorecard_data_2015.xml
      description: Anonymous download of "scorecard_data_2015.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2015.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 62019
        last_modified: Wed, 26 Oct 2016 20:33:03 GMT
  /_html/performance/data/scorecard_data_2014.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2014
      summary: scorecard_data_2014.xml
      description: Anonymous download of "scorecard_data_2014.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2014.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 60738
        last_modified: Wed, 26 Oct 2016 20:33:03 GMT
  /_html/performance/data/scorecard_data_2013.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2013
      summary: scorecard_data_2013.xml
      description: Anonymous download of "scorecard_data_2013.xml" from the OEB Open Data dataset "Electricity Distributor Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2013.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 44624
        last_modified: Wed, 26 Oct 2016 20:33:02 GMT
externalDocs:
  description: OEB Open Data
  url: https://www.oeb.ca/ontarios-energy-sector/open-data
