openapi: 3.2.0
info:
  title: OEB Open Data Current Natural Gas Rates (Residential Rate Classes) API
  version: '2026-07-27'
  summary: Anonymous, key-free HTTP downloads of the Ontario Energy Board's published open datasets.
  description: 'A machine-readable description of the Ontario Energy Board''s Open Data programme as an HTTP surface.


    PROVENANCE. The OEB publishes no OpenAPI, no API reference and no base path. Open Data is a set of stable, versioned files linked from 40 dataset landing pages under https://www.oeb.ca/ontarios-energy-sector/open-data. This document was GENERATED by API Evangelist on 2026-07-27 by crawling those pages and probing the files they link. Only files that returned HTTP 200 to an anonymous request in that run appear as operations, and each carries an x-evidence block with the probed URL, status, content type, byte size and Last-Modified. The OEB''s pages link a further ~165 historical and current RRR files (the 2015-2021, 2023 and 2024-2 series, plus the natural gas GD series) that this run could not verify because the host stopped answering under sustained probing; the full published inventory is recorded in data-model/ontario-energy-board-data-model.yml rather than asserted here as live operations.


    There is no query interface: no parameters, no pagination, no filtering, no content negotiation, no conditional request contract beyond the Last-Modified/ETag the web server sets. Every operation is an unconditional GET of a whole file. Authentication: none.


    Rate limiting: undocumented but real. Sustained parallel requests from one client caused www.oeb.ca to stop answering entirely (connection timeouts, no HTTP status) on 2026-07-27. Fetch serially and cache.'
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence - Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
servers:
- url: https://www.oeb.ca
  description: OEB website (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: Current Natural Gas Rates (Residential Rate Classes)
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/current-natural-gas-rates-residential-rate-classes'
  externalDocs:
    url: https://www.oeb.ca/open-data/current-natural-gas-rates-residential-rate-classes
paths:
  /_html/calculator/data/GasBillData.xml:
    get:
      tags:
      - Current Natural Gas Rates (Residential Rate Classes)
      operationId: getGasBillData
      summary: GasBillData.xml
      description: Anonymous download of "GasBillData.xml" from the OEB Open Data dataset "Current Natural Gas Rates (Residential Rate Classes)". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/calculator/data/GasBillData.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/current-natural-gas-rates-residential-rate-classes
        bytes: 5364
        last_modified: Tue, 30 Jun 2026 20:58:57 GMT
  /sites/default/files/data-keys-naturalgas-rates.xlsx:
    get:
      tags:
      - Current Natural Gas Rates (Residential Rate Classes)
      operationId: getDataKeysNaturalgasRates
      summary: data-keys-naturalgas-rates.xlsx
      description: Anonymous download of "data-keys-naturalgas-rates.xlsx" from the OEB Open Data dataset "Current Natural Gas Rates (Residential Rate Classes)". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XLSX file.
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/sites/default/files/data-keys-naturalgas-rates.xlsx
        status: 200
        content_type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
        dataset_page: https://www.oeb.ca/open-data/current-natural-gas-rates-residential-rate-classes
        bytes: 10823
        last_modified: Wed, 30 Aug 2023 20:43:47 GMT
externalDocs:
  description: OEB Open Data
  url: https://www.oeb.ca/ontarios-energy-sector/open-data
