openapi: 3.2.0
info:
  title: OEB Open Data Current Electricity Rates (Residential Rate…
  version: '2026-07-27'
  summary: Anonymous, key-free HTTP downloads of the Ontario Energy Board's published open datasets.
  description: A machine-readable description of the Ontario Energy Board's Open Data programme as an HTTP surface.
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence - Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
servers:
- url: https://www.oeb.ca
  description: OEB website (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: Current Electricity Rates (Residential Rate Class)
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/current-electricity-rates-residential-rate-class'
  externalDocs:
    url: https://www.oeb.ca/open-data/current-electricity-rates-residential-rate-class
paths:
  /_html/calculator/data/BillData.xml:
    get:
      tags:
      - Current Electricity Rates (Residential Rate Class)
      operationId: getBillData
      summary: BillData.xml
      description: Anonymous download of "BillData.xml" from the OEB Open Data dataset "Current Electricity Rates (Residential Rate Class)". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/calculator/data/BillData.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/current-electricity-rates-residential-rate-class
        bytes: 77694
        last_modified: Tue, 30 Jun 2026 20:58:39 GMT
  /sites/default/files/data-keys-electricity-rates.xlsx:
    get:
      tags:
      - Current Electricity Rates (Residential Rate Class)
      operationId: getDataKeysElectricityRates
      summary: data-keys-electricity-rates.xlsx
      description: Anonymous download of "data-keys-electricity-rates.xlsx" from the OEB Open Data dataset "Current Electricity Rates (Residential Rate Class)". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XLSX file.
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/sites/default/files/data-keys-electricity-rates.xlsx
        status: 200
        content_type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
        dataset_page: https://www.oeb.ca/open-data/current-electricity-rates-residential-rate-class
        bytes: 11022
        last_modified: Wed, 05 Mar 2025 19:41:06 GMT
externalDocs:
  description: OEB Open Data
  url: https://www.oeb.ca/ontarios-energy-sector/open-data
