openapi: 3.2.0
info:
  title: OEB Open Data Applications before the OEB API
  version: '2026-07-27'
  summary: Anonymous, key-free HTTP downloads of the Ontario Energy Board's published open datasets.
  description: A machine-readable description of the Ontario Energy Board's Open Data programme as an HTTP surface.
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence - Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
servers:
- url: https://www.oeb.ca
  description: OEB website (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: Applications before the OEB
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/applications-oeb'
  externalDocs:
    url: https://www.oeb.ca/open-data/applications-oeb
paths:
  /_html/xml/all_open_appl_Cases_v2_reportFile.xml:
    get:
      tags:
      - Applications before the OEB
      operationId: getAllOpenApplCasesV2ReportFile
      summary: all_open_appl_Cases_v2_reportFile.xml
      description: Anonymous download of "all_open_appl_Cases_v2_reportFile.xml" from the OEB Open Data dataset "Applications before the OEB". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/xml/all_open_appl_Cases_v2_reportFile.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/applications-oeb
        bytes: 36579
        last_modified: Fri, 10 Jul 2026 13:39:23 GMT
externalDocs:
  description: OEB Open Data
  url: https://www.oeb.ca/ontarios-energy-sector/open-data
