openapi: 3.2.0
info:
  title: OEB Regulatory Document Search (RDS) Search Metadata API
  version: 2026-07-27
  summary: Anonymous, undocumented JSON query surface over the Ontario Energy Board's regulatory document record.
  description: 'A machine-readable description of the query surface the Ontario Energy Board''s Regulatory Document Search (RDS) actually serves at https://www.rds.oeb.ca/CMWebDrawer.


    IMPORTANT — PROVENANCE. The OEB does **not** publish this definition. The OEB publishes no API reference, no base-URI statement, no query-syntax documentation, no OpenAPI, no rate-limit policy and no terms for this interface. RDS runs on Micro Focus / OpenText Content Manager WebDrawer, and the JSON projection described here is default behaviour of that product, reached by adding `format=json` to the same parameterised `Record` URLs the OEB itself links to from www.oeb.ca (the licensed-companies list alone links hundreds of them). This document was **generated by API Evangelist from live anonymous probes on 2026-07-27** — every path, parameter, status code, media type and schema below was observed, and each operation carries an `x-evidence` block naming the exact URL probed and what came back. Nothing here is inferred from documentation, because there is none. Treat it as an accurate map of an undocumented, unsupported surface that the OEB may change or withdraw without notice — not as an offered API contract.


    Authentication: none. Every request below was made anonymously with no key, no token, no cookie and no signup.'
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence – Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
servers:
- url: https://www.rds.oeb.ca/CMWebDrawer
  description: Production RDS WebDrawer host (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: Search Metadata
  description: The machine-readable query vocabulary the RDS search form itself loads.
paths:
  /Help/WDSearchClauseDefJS:
    get:
      tags:
      - Search Metadata
      operationId: getSearchClauseDefinitions
      summary: The full query vocabulary accepted by the q parameter
      description: Returns a JavaScript document declaring `var searchClauses = [...]` — 303 clause definitions with InternalName, Name, MethodGroup, ObjectTypeParameter, ParameterFormat, CanSort and Caption. This is the only machine-readable description of the RDS query language that exists; the RDS search form loads it to build its own dropdowns. Parsed into vocabulary/ontario-energy-board-rds-search-clauses.yml.
      parameters:
      - name: trimType
        in: query
        required: true
        schema:
          type: string
          enum:
          - Record
        example: Record
      responses:
        '200':
          description: JavaScript source declaring the searchClauses array.
          content:
            text/javascript:
              schema:
                type: string
      x-evidence:
        probed: '2026-07-27'
        requests:
        - url: https://www.rds.oeb.ca/CMWebDrawer/Help/WDSearchClauseDefJS?trimType=Record
          status: 200
          content_type: text/javascript
          bytes: 72885
          note: 303 clauses parsed, 62 of them OEB-specific Additional Fields, 87 sortable.
  /EnumItemJS:
    get:
      tags:
      - Search Metadata
      operationId: getSearchClauseEnums
      summary: Labels for the search clause groups and special date values
      description: Returns a JavaScript document declaring `var enums = {...}` with the display labels for each clause group.
      parameters:
      - name: Enums
        in: query
        required: true
        description: Comma-separated enum names.
        schema:
          type: string
        example: SearchClauseGroup,SpecialDates
      responses:
        '200':
          description: JavaScript source declaring the enums object.
          content:
            text/javascript:
              schema:
                type: string
      x-evidence:
        probed: '2026-07-27'
        requests:
        - url: https://www.rds.oeb.ca/CMWebDrawer/EnumItemJS?Enums=SearchClauseGroup,SpecialDates
          status: 200
          content_type: text/javascript
          bytes: 1441
externalDocs:
  description: OEB Regulatory Document Search (human entry point)
  url: https://www.oeb.ca/rds
