openapi: 3.2.0
info:
  title: OEB Open Data Electricity Reporting & Record Keeping…
  version: '2026-07-27'
  summary: Anonymous, key-free HTTP downloads of the Ontario Energy Board's published open datasets.
  description: A machine-readable description of the Ontario Energy Board's Open Data programme as an HTTP surface.
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence - Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
servers:
- url: https://www.oeb.ca
  description: OEB website (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: 'Electricity Reporting & Record Keeping Requirements (RRR): Section ...'
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/electricity-reporting-record-keeping-requirements-rrr-section-2142-system-reliability'
  externalDocs:
    url: https://www.oeb.ca/open-data/electricity-reporting-record-keeping-requirements-rrr-section-2142-system-reliability
paths:
  /documents/opendata/rrr/2.1.4.2%20System%20Reliability%20Indicators.xml:
    get:
      tags:
      - 'Electricity Reporting & Record Keeping Requirements (RRR): Section ...'
      operationId: get2142SystemReliabilityIndicators
      summary: 2.1.4.2 System Reliability Indicators.xml
      description: 'Anonymous download of "2.1.4.2 System Reliability Indicators.xml" from the OEB Open Data dataset "Electricity Reporting & Record Keeping Requirements (RRR): Section 2.1.4.2 System Reliability Indicators". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.'
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/documents/opendata/rrr/2.1.4.2%20System%20Reliability%20Indicators.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-reporting-record-keeping-requirements-rrr-section-2142-system-reliability
        bytes: 6892228
externalDocs:
  description: OEB Open Data
  url: https://www.oeb.ca/ontarios-energy-sector/open-data
