openapi: 3.2.0
info:
  title: OEB Open Data Historical Regulated Price Plan Electricity…
  version: '2026-07-27'
  summary: Anonymous, key-free HTTP downloads of the Ontario Energy Board's published open datasets.
  description: A machine-readable description of the Ontario Energy Board's Open Data programme as an HTTP surface.
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence - Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
servers:
- url: https://www.oeb.ca
  description: OEB website (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: Historical Regulated Price Plan Electricity Rates
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/historical-regulated-price-plan-electricity-rates'
  externalDocs:
    url: https://www.oeb.ca/open-data/historical-regulated-price-plan-electricity-rates
paths:
  /sites/default/files/historical-rpp-prices.xlsx:
    get:
      tags:
      - Historical Regulated Price Plan Electricity Rates
      operationId: getHistoricalRppPrices
      summary: historical-rpp-prices.xlsx
      description: Anonymous download of "historical-rpp-prices.xlsx" from the OEB Open Data dataset "Historical Regulated Price Plan Electricity Rates". No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XLSX file.
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/sites/default/files/historical-rpp-prices.xlsx
        status: 200
        content_type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
        dataset_page: https://www.oeb.ca/open-data/historical-regulated-price-plan-electricity-rates
        bytes: 25691
        last_modified: Tue, 21 Oct 2025 16:33:11 GMT
externalDocs:
  description: OEB Open Data
  url: https://www.oeb.ca/ontarios-energy-sector/open-data
