openapi: 3.1.0
info:
  title: OEB Open Data
  version: '2026-07-27'
  summary: Anonymous, key-free HTTP downloads of the Ontario Energy Board's published open datasets.
  description: 'A machine-readable description of the Ontario Energy Board''s Open Data programme as an HTTP surface.


    PROVENANCE. The OEB publishes no OpenAPI, no API reference and no base path. Open Data is a set of stable, versioned
    files linked from 40 dataset landing pages under https://www.oeb.ca/ontarios-energy-sector/open-data. This document
    was GENERATED by API Evangelist on 2026-07-27 by crawling those pages and probing the files they link. Only
    files that returned HTTP 200 to an anonymous request in that run appear as operations, and each carries an x-evidence
    block with the probed URL, status, content type, byte size and Last-Modified. The OEB''s pages link a further
    ~165 historical and current RRR files (the 2015-2021, 2023 and 2024-2 series, plus the natural gas GD series)
    that this run could not verify because the host stopped answering under sustained probing; the full published
    inventory is recorded in data-model/ontario-energy-board-data-model.yml rather than asserted here as live operations.


    There is no query interface: no parameters, no pagination, no filtering, no content negotiation, no conditional
    request contract beyond the Last-Modified/ETag the web server sets. Every operation is an unconditional GET
    of a whole file. Authentication: none.


    Rate limiting: undocumented but real. Sustained parallel requests from one client caused www.oeb.ca to stop
    answering entirely (connection timeouts, no HTTP status) on 2026-07-27. Fetch serially and cache.'
  contact:
    name: Ontario Energy Board
    url: https://www.oeb.ca/contact-ontario-energy-board
  license:
    name: Open Government Licence - Ontario
    url: https://www.ontario.ca/page/open-government-licence-ontario
  x-generated-by: API Evangelist enrichment pipeline
  x-generation-method: generated-from-live-probes
  x-published-by-provider: false
externalDocs:
  description: OEB Open Data
  url: https://www.oeb.ca/ontarios-energy-sector/open-data
servers:
- url: https://www.oeb.ca
  description: OEB website (TLSv1.3, HSTS max-age 31536000; includeSubDomains; preload)
tags:
- name: Applications before the OEB
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/applications-oeb'
  externalDocs:
    url: https://www.oeb.ca/open-data/applications-oeb
- name: Current Electricity Rates (General Service < 50 kW Rate Class)
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/current-electricity-rates-general-service-50-kw-rate-class'
  externalDocs:
    url: https://www.oeb.ca/open-data/current-electricity-rates-general-service-50-kw-rate-class
- name: Current Electricity Rates (Residential Rate Class)
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/current-electricity-rates-residential-rate-class'
  externalDocs:
    url: https://www.oeb.ca/open-data/current-electricity-rates-residential-rate-class
- name: Current Natural Gas Rates (Residential Rate Classes)
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/current-natural-gas-rates-residential-rate-classes'
  externalDocs:
    url: https://www.oeb.ca/open-data/current-natural-gas-rates-residential-rate-classes
- name: Electricity Distributor Complaints Received by the OEB
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb'
  externalDocs:
    url: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
- name: Electricity Distributor Performance – Scorecard
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard'
  externalDocs:
    url: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
- name: 'Electricity Reporting & Record Keeping Requirements (RRR): Section ...'
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/electricity-reporting-record-keeping-requirements-rrr-section-2142-system-reliability'
  externalDocs:
    url: https://www.oeb.ca/open-data/electricity-reporting-record-keeping-requirements-rrr-section-2142-system-reliability
- name: Electricity and Natural Gas Distributors - Service Areas
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/electricity-and-natural-gas-distributors-service-areas'
  externalDocs:
    url: https://www.oeb.ca/open-data/electricity-and-natural-gas-distributors-service-areas
- name: Historical Regulated Price Plan Electricity Rates
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/historical-regulated-price-plan-electricity-rates'
  externalDocs:
    url: https://www.oeb.ca/open-data/historical-regulated-price-plan-electricity-rates
- name: Licensed Market Participants
  description: 'OEB Open Data dataset landing page: https://www.oeb.ca/open-data/licensed-market-participants'
  externalDocs:
    url: https://www.oeb.ca/open-data/licensed-market-participants
paths:
  /_html/xml/all_open_appl_Cases_v2_reportFile.xml:
    get:
      tags:
      - Applications before the OEB
      operationId: getAllOpenApplCasesV2ReportFile
      summary: all_open_appl_Cases_v2_reportFile.xml
      description: Anonymous download of "all_open_appl_Cases_v2_reportFile.xml" from the OEB Open Data dataset
        "Applications before the OEB". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/xml/all_open_appl_Cases_v2_reportFile.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/applications-oeb
        bytes: 36579
        last_modified: Fri, 10 Jul 2026 13:39:23 GMT
  /_html/calculator/data/BillData_GS.xml:
    get:
      tags:
      - Current Electricity Rates (General Service < 50 kW Rate Class)
      operationId: getBillDataGS
      summary: BillData_GS.xml
      description: Anonymous download of "BillData_GS.xml" from the OEB Open Data dataset "Current Electricity Rates
        (General Service < 50 kW Rate Class)". No API key, no signup, no terms click-through. Published under the
        Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/calculator/data/BillData_GS.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/current-electricity-rates-general-service-50-kw-rate-class
        bytes: 72312
        last_modified: Tue, 30 Jun 2026 20:58:40 GMT
  /_html/calculator/data/BillData.xml:
    get:
      tags:
      - Current Electricity Rates (Residential Rate Class)
      operationId: getBillData
      summary: BillData.xml
      description: Anonymous download of "BillData.xml" from the OEB Open Data dataset "Current Electricity Rates
        (Residential Rate Class)". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/calculator/data/BillData.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/current-electricity-rates-residential-rate-class
        bytes: 77694
        last_modified: Tue, 30 Jun 2026 20:58:39 GMT
  /sites/default/files/data-keys-electricity-rates.xlsx:
    get:
      tags:
      - Current Electricity Rates (Residential Rate Class)
      operationId: getDataKeysElectricityRates
      summary: data-keys-electricity-rates.xlsx
      description: Anonymous download of "data-keys-electricity-rates.xlsx" from the OEB Open Data dataset "Current
        Electricity Rates (Residential Rate Class)". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XLSX file.
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/sites/default/files/data-keys-electricity-rates.xlsx
        status: 200
        content_type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
        dataset_page: https://www.oeb.ca/open-data/current-electricity-rates-residential-rate-class
        bytes: 11022
        last_modified: Wed, 05 Mar 2025 19:41:06 GMT
  /_html/calculator/data/GasBillData.xml:
    get:
      tags:
      - Current Natural Gas Rates (Residential Rate Classes)
      operationId: getGasBillData
      summary: GasBillData.xml
      description: Anonymous download of "GasBillData.xml" from the OEB Open Data dataset "Current Natural Gas Rates
        (Residential Rate Classes)". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/calculator/data/GasBillData.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/current-natural-gas-rates-residential-rate-classes
        bytes: 5364
        last_modified: Tue, 30 Jun 2026 20:58:57 GMT
  /sites/default/files/data-keys-naturalgas-rates.xlsx:
    get:
      tags:
      - Current Natural Gas Rates (Residential Rate Classes)
      operationId: getDataKeysNaturalgasRates
      summary: data-keys-naturalgas-rates.xlsx
      description: Anonymous download of "data-keys-naturalgas-rates.xlsx" from the OEB Open Data dataset "Current
        Natural Gas Rates (Residential Rate Classes)". No API key, no signup, no terms click-through. Published
        under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XLSX file.
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/sites/default/files/data-keys-naturalgas-rates.xlsx
        status: 200
        content_type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
        dataset_page: https://www.oeb.ca/open-data/current-natural-gas-rates-residential-rate-classes
        bytes: 10823
        last_modified: Wed, 30 Aug 2023 20:43:47 GMT
  /documents/opendata/open-data-electricity-map-20260429.zip:
    get:
      tags:
      - Electricity and Natural Gas Distributors - Service Areas
      operationId: getOpenDataElectricityMap20260429
      summary: open-data-electricity-map-20260429.zip
      description: Anonymous download of "open-data-electricity-map-20260429.zip" from the OEB Open Data dataset
        "Electricity and Natural Gas Distributors - Service Areas". No API key, no signup, no terms click-through.
        Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published ZIP file.
          content:
            application/zip:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/documents/opendata/open-data-electricity-map-20260429.zip
        status: 200
        content_type: application/zip
        dataset_page: https://www.oeb.ca/open-data/electricity-and-natural-gas-distributors-service-areas
        bytes: 2029792
        last_modified: Mon, 01 Jun 2026 13:23:39 GMT
  /documents/opendata/open-data-naturalgas-map-20260225.zip:
    get:
      tags:
      - Electricity and Natural Gas Distributors - Service Areas
      operationId: getOpenDataNaturalgasMap20260225
      summary: open-data-naturalgas-map-20260225.zip
      description: Anonymous download of "open-data-naturalgas-map-20260225.zip" from the OEB Open Data dataset
        "Electricity and Natural Gas Distributors - Service Areas". No API key, no signup, no terms click-through.
        Published under the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published ZIP file.
          content:
            application/zip:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/documents/opendata/open-data-naturalgas-map-20260225.zip
        status: 200
        content_type: application/zip
        dataset_page: https://www.oeb.ca/open-data/electricity-and-natural-gas-distributors-service-areas
        bytes: 13210803
        last_modified: Wed, 11 Mar 2026 15:45:05 GMT
  /_html/performance/data/complaints_data_2022.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2022
      summary: complaints_data_2022.xml
      description: Anonymous download of "complaints_data_2022.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2022.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 5999
        last_modified: Wed, 30 Aug 2023 13:59:37 GMT
  /_html/performance/data/complaints_data_2021.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2021
      summary: complaints_data_2021.xml
      description: Anonymous download of "complaints_data_2021.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2021.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 6586
        last_modified: Tue, 23 Aug 2022 17:17:02 GMT
  /_html/performance/data/complaints_data_2020.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2020
      summary: complaints_data_2020.xml
      description: Anonymous download of "complaints_data_2020.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2020.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 5565
        last_modified: Wed, 27 Oct 2021 13:51:33 GMT
  /_html/performance/data/complaints_data_2019.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2019
      summary: complaints_data_2019.xml
      description: Anonymous download of "complaints_data_2019.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2019.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 6322
        last_modified: Wed, 14 Oct 2020 18:38:50 GMT
  /_html/performance/data/complaints_data_2018.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2018
      summary: complaints_data_2018.xml
      description: Anonymous download of "complaints_data_2018.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2018.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 7565
        last_modified: Tue, 17 Dec 2019 21:39:35 GMT
  /_html/performance/data/complaints_data_2017.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2017
      summary: complaints_data_2017.xml
      description: Anonymous download of "complaints_data_2017.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2017.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 8770
        last_modified: Tue, 17 Dec 2019 21:39:31 GMT
  /_html/performance/data/complaints_data_2016.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2016
      summary: complaints_data_2016.xml
      description: Anonymous download of "complaints_data_2016.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2016.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 9291
        last_modified: Tue, 17 Dec 2019 21:39:25 GMT
  /_html/performance/data/complaints_data_2015.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2015
      summary: complaints_data_2015.xml
      description: Anonymous download of "complaints_data_2015.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2015.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 9697
        last_modified: Tue, 17 Dec 2019 21:39:20 GMT
  /_html/performance/data/complaints_data_2014.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2014
      summary: complaints_data_2014.xml
      description: Anonymous download of "complaints_data_2014.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2014.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 10328
        last_modified: Tue, 17 Dec 2019 21:39:14 GMT
  /_html/performance/data/complaints_data_2013.xml:
    get:
      tags:
      - Electricity Distributor Complaints Received by the OEB
      operationId: getComplaintsData2013
      summary: complaints_data_2013.xml
      description: Anonymous download of "complaints_data_2013.xml" from the OEB Open Data dataset "Electricity
        Distributor Complaints Received by the OEB". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/complaints_data_2013.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-complaints-received-oeb
        bytes: 8485
        last_modified: Tue, 17 Dec 2019 21:39:09 GMT
  /_html/performance/data/scorecard_data_2024.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2024
      summary: scorecard_data_2024.xml
      description: Anonymous download of "scorecard_data_2024.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2024.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 44231
        last_modified: Thu, 25 Sep 2025 20:03:01 GMT
  /_html/performance/data/scorecard_data_2023.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2023
      summary: scorecard_data_2023.xml
      description: Anonymous download of "scorecard_data_2023.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2023.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 46437
        last_modified: Fri, 13 Sep 2024 02:18:31 GMT
  /_html/performance/data/scorecard_data_2022.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2022
      summary: scorecard_data_2022.xml
      description: Anonymous download of "scorecard_data_2022.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2022.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 46625
        last_modified: Wed, 01 Nov 2023 15:50:39 GMT
  /_html/performance/data/scorecard_data_2021.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2021
      summary: scorecard_data_2021.xml
      description: Anonymous download of "scorecard_data_2021.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2021.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 49069
        last_modified: Wed, 31 Aug 2022 18:52:50 GMT
  /_html/performance/data/scorecard_data_2020.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2020
      summary: scorecard_data_2020.xml
      description: Anonymous download of "scorecard_data_2020.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2020.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 50693
        last_modified: Wed, 27 Oct 2021 20:37:12 GMT
  /_html/performance/data/scorecard_data_2019.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2019
      summary: scorecard_data_2019.xml
      description: Anonymous download of "scorecard_data_2019.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2019.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 53243
        last_modified: Wed, 14 Oct 2020 18:53:38 GMT
  /_html/performance/data/scorecard_data_2018.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2018
      summary: scorecard_data_2018.xml
      description: Anonymous download of "scorecard_data_2018.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2018.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 56782
        last_modified: Mon, 30 Sep 2019 21:13:27 GMT
  /_html/performance/data/scorecard_data_2017.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2017
      summary: scorecard_data_2017.xml
      description: Anonymous download of "scorecard_data_2017.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2017.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 58355
        last_modified: Wed, 26 Sep 2018 18:02:52 GMT
  /_html/performance/data/scorecard_data_2016.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2016
      summary: scorecard_data_2016.xml
      description: Anonymous download of "scorecard_data_2016.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2016.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 60922
        last_modified: Mon, 02 Oct 2017 14:37:49 GMT
  /_html/performance/data/scorecard_data_2015.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2015
      summary: scorecard_data_2015.xml
      description: Anonymous download of "scorecard_data_2015.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2015.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 62019
        last_modified: Wed, 26 Oct 2016 20:33:03 GMT
  /_html/performance/data/scorecard_data_2014.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2014
      summary: scorecard_data_2014.xml
      description: Anonymous download of "scorecard_data_2014.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2014.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 60738
        last_modified: Wed, 26 Oct 2016 20:33:03 GMT
  /_html/performance/data/scorecard_data_2013.xml:
    get:
      tags:
      - Electricity Distributor Performance – Scorecard
      operationId: getScorecardData2013
      summary: scorecard_data_2013.xml
      description: Anonymous download of "scorecard_data_2013.xml" from the OEB Open Data dataset "Electricity Distributor
        Performance – Scorecard". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/performance/data/scorecard_data_2013.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-distributor-performance-scorecard
        bytes: 44624
        last_modified: Wed, 26 Oct 2016 20:33:02 GMT
  /sites/default/files/historical-rpp-prices.xlsx:
    get:
      tags:
      - Historical Regulated Price Plan Electricity Rates
      operationId: getHistoricalRppPrices
      summary: historical-rpp-prices.xlsx
      description: Anonymous download of "historical-rpp-prices.xlsx" from the OEB Open Data dataset "Historical
        Regulated Price Plan Electricity Rates". No API key, no signup, no terms click-through. Published under
        the Open Government Licence - Ontario.
      responses:
        '200':
          description: The published XLSX file.
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/sites/default/files/historical-rpp-prices.xlsx
        status: 200
        content_type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
        dataset_page: https://www.oeb.ca/open-data/historical-regulated-price-plan-electricity-rates
        bytes: 25691
        last_modified: Tue, 21 Oct 2025 16:33:11 GMT
  /_html/xml/all_Licences_report_File.xml:
    get:
      tags:
      - Licensed Market Participants
      operationId: getAllLicencesReportFile
      summary: all_Licences_report_File.xml
      description: Anonymous download of "all_Licences_report_File.xml" from the OEB Open Data dataset "Licensed
        Market Participants". No API key, no signup, no terms click-through. Published under the Open Government
        Licence - Ontario.
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/_html/xml/all_Licences_report_File.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/licensed-market-participants
        bytes: 605360
        last_modified: Fri, 10 Jul 2026 13:39:20 GMT
  /documents/opendata/rrr/2.1.4.2%20System%20Reliability%20Indicators.xml:
    get:
      tags:
      - 'Electricity Reporting & Record Keeping Requirements (RRR): Section ...'
      operationId: get2142SystemReliabilityIndicators
      summary: 2.1.4.2 System Reliability Indicators.xml
      description: 'Anonymous download of "2.1.4.2 System Reliability Indicators.xml" from the OEB Open Data dataset
        "Electricity Reporting & Record Keeping Requirements (RRR): Section 2.1.4.2 System Reliability Indicators".
        No API key, no signup, no terms click-through. Published under the Open Government Licence - Ontario.'
      responses:
        '200':
          description: The published XML file.
          content:
            text/xml:
              schema:
                type: string
                format: binary
      x-evidence:
        probed: '2026-07-27'
        url: https://www.oeb.ca/documents/opendata/rrr/2.1.4.2%20System%20Reliability%20Indicators.xml
        status: 200
        content_type: text/xml
        dataset_page: https://www.oeb.ca/open-data/electricity-reporting-record-keeping-requirements-rrr-section-2142-system-reliability
        bytes: 6892228
